/* List top */
.wrap-container {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
}
.page {
    position: relative;
}
.page-signup .flow-bar {
    position: relative;
}
.flex {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.page-signup .flow-bar-list {
    width: 25%;
    height: 10px;
}
ol, ul {
    list-style: none;
}
li.flow-bar-list {
    display: list-item;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    outline: 0;
}
.page-signup .flow-bar::before {
    width: 100%;
    height: 10px;
    background: #eee;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Page SignUp*/
.page-signup .navbar-top {
    padding: 15px 13px 12px 20px;
    position: relative;
}
.page-signup-inner {
    width: 90%;
    margin: 0 auto 20px;
}
.page-signup-head-logo {
    width: 140px;
    margin: 60px auto;
}
.page-signup-head-title {
    margin: 40px auto 32px;
}
.page-signup-head-title p {
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.4;
}
.page-signup-body-input .input-box {
    margin-bottom: 20px;
}
.input-box-birth .fa {
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
}
.fa-birthday-cake{
    width: 26px;
    height: 26px;
    line-height: 26px;
    font-size: 25px;
    color: #ccc;
}
.fa-transgender{
    width: 26px;
    height: 26px;
    line-height: 26px;
    font-size: 30px;
    color: #ccc;
}
.fa {
    font-style: normal;
}
.page-signup-body-input .input-box select {
    width: 27%;
    border: 1px solid #e0e0e0;
    padding: 16px 14px;
    background: 0;
}
.page-signup-body-input .error-text {
    margin-top: 5px;
    display: block;
    font-size: 14px;
    font-size: .6875rem;
    color: #f36;
}
.page-signup-body-input .success-text {
    margin-top: 5px;
    display: block;
    font-size: 14px;
    font-size: .6875rem;
    color: #155724;
}
.input-box.input-box-highschool {
    display: none;
}
.input-box.input-box-highschool .checkbox{
    display: none;
}
.page-signup-body-input .input-box-highschool {
    border-left: 10px solid #eee;
    padding-left: 10px;
}
.page-signup-body-input .input-box {
    margin-bottom: 20px;
}
.page-signup-body-input .input-box-highschool .checkbox:checked+.checkbox-icon:before {
    content: "\f14a";
    color: #72c7a1;
}
.page-signup-body-input .input-box-highschool .checkbox+.checkbox-icon:before {
    content: "\f14a";
    font-family: 'FontAwesome';
    color: #ccc;
    font-size: 16px;
    font-size: 1rem;
}
.page-signup-body-input .input-box-highschool label {
    font-size: 14px;
    font-size: .875rem;
    color: #959595;
}
.page-signup-body-input .input-box-highschool p {
    color: #ccc;
    font-size: 11px;
    font-size: .6875rem;
}
.page-signup-body-input .input-box:last-child {
    margin-bottom: 0;
    margin-top: 10px;
}
.page-signup-body-input .input-box {
    margin-bottom: 20px;
}
.page-signup-body-input .input-box-sex input {
    display: none;
}
.page-signup-body-input .input-box-sex input[type="radio"]:checked+label {
    background-color: #72c7a1;
    color: #fff;
    border: 1px solid #72c7a1;
}

.page-signup-body-input .input-box-sex label {
    width: 40%;
    padding: 12px 0;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 10px;
    border: 1px solid #b6b6b6;
    background: #fff;
    color: #8c8c8c;
    font-size: 14px;
    font-size: .875rem;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    text-align: center;
    line-height: 1;
    transition: .2s;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
}
input[type="radio" i] {
    margin: 3px 3px 0px 5px;
}
input[type="radio" i] {
    -webkit-appearance: radio;
    box-sizing: border-box;
}
input[type="radio" i], input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    margin: 3px 0.5ex;
    padding: initial;
    border: initial;
}
.page-signup-body-input .submit {
    margin: 55px auto 20px;
}
.page-signup-body-input .submit input[type=submit].active {
    background: #72c7a1;
    color: #fff;
    cursor: pointer;
}
.page-signup-body-input .submit input[type=submit] {
    width: 100%;
    display: block;
    padding: 16px 14px;
    color: #fff;
    border: 0;
    font-size: 16px;
    font-size: 1rem;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}
.page-signup-ftr-signup p {
    font-size: 13px;
    font-size: .8125rem;
    text-align: center;
    color: #8c8c8c;
}
.page-signup-ftr-signup p a {
    color: #72c7a1;
    font-size: 13px;
    font-size: .8125rem;
    text-decoration: underline;
}
.page-signup-body-input .back {
    margin: 55px auto 0;
}
.page-signup-body-input .back-next input[type=submit] {
    cursor: pointer;
}
.page-signup-body-input .back-next input[type=submit] {
    color: #313131;
    background: #fff;
}
.page-signup-body-input .back input[type=submit] {
    width: 100%;
    display: block;
    padding: 16px 14px;
    border: 1px solid #e0e0e0;
    font-weight: bold;
    color: #000;
    font-size: 16px;
    font-size: 1rem;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}
.page-signup-body-input .submit {
    margin: 10px auto 30px;
}
.input-box-clm input[type=text]:focus , .input-box-clm select:focus{
    border: 1px solid #72c7a1;
}
.page-signup-body-input .submit input[type=submit].active {
    background: #72c7a1;
    color: #fff;
    cursor: pointer;
}
.submit input[type=submit].active {
    background: #72c7a1;
    color: #fff;
    cursor: pointer;
}
.page-signup-body-input input[type=email], .page-signup-body-input input[type=password] {
    width: 100%;
    padding: 22px 14px;
    border: 1px solid #e0e0e0;
    background: #f4f4f4;
    display: block;
    margin-bottom: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}
input[type=email]:focus, input[type=password]:focus, input[type=email]:active, input[type=password]:active {
    outline: none;
    border: 1px solid #72c7a1;
    box-shadow: none;
}
.page-signup-body-input .submit span {
    display: block;
    margin-top: 11px;
    font-size: 11px;
    font-size: .6875rem;
    text-align: center;
    color: #8c8c8c;
}
.page-signup-body-input .submit span a{
    color: #72c7a1;
}
/* Regiser */
.step {
    display: block;
    width: 100%;
    border-top: 1px solid #979797;
    border-bottom: 1px solid #979797;
}
.step-inner {
    position: relative;
}
.step-heading {
    display: block;
    text-align: center;
    font-size: 16px;
    margin: 0 auto;
    padding: 14px 50px;
}
.step-heading-text {
    letter-spacing: 0.01em;
    color: #393939;
    font-weight: bold;
}
.page-setting-tel-sms .page-content {
    padding-top: 25px;
}
.page-setting .page-content {
    padding-top: 38px;
}
.form-inner {
    margin-bottom: 15px;
    padding: 10px 14px;
}
.form-setting-tel-sms .form-group-label {
    padding-bottom: 32px;
}
.form-group-label {
    display: inline-block;
    font-size: 14px;
    padding-bottom: 16px;
    line-height: 1.2;
}
.form-group-default {
    border-radius: 2px;
    border: 1px solid #ccc;
}
.form-group {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 0;
    border-bottom: 1px solid #ccc;
}
.form-setting-tel-sms .form-footer {
    margin: 46px auto 0;
}
.form-footer {
    width: 100%;
    margin: 0 auto;
}
.form-group-default .form-group-tag {
    background-color: #F4F4F4;
    padding: 15px 10px;
}
.form-group-tag-tel-sms {
    padding: 10px;
}
.form-group-tag {
    display: block;
    width: 100%;
    border: 0;
    outline: none;
    font-size: 14px;
    padding-bottom: 20px;
    padding-left: 37px;
}
.form-footer-tel-sms .button {
    margin-bottom: 40px;
}
.button-setting {
    width: 100%;
    max-width: 100%;
}
.button-bg-green {
    background-color: #5CC797;
}
.button-text {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}
.button {
    display: inline-block;
    width: 100% !important;
    border-radius: 2px;
    border: none;
    outline: none;
    min-height: 50px;
    padding: 0 10px;
}
.page-content .form-inner h2 {
    color: #ABABAB;
    margin-bottom: 10px;
    font-size: 16px;
}
.text-fz13 {
    font-size: 13px;
}
.text-tc-silver {
    color: #ABABAB;
}
.text-block {
    display: block;
}
.text {
    font-size: 14px;
    margin-bottom: 10px;
    text-align: left;
}

.alert-message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0,0,0,0.3);
    z-index: 9;
}
.alert-message-inner {
    position: absolute;
    width: 258px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 2px;
    padding: 22px 20px 70px;
    min-height: 100%;
    min-height: 160px;
}
.alert-message-copy-first {
    font-size: 17px;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 10px;
}
.alert-message-copy {
    font-size: 13px;
    color: #000;
    letter-spacing: 0.01em;
}
.alert-message-btngroup {
    position: relative;
    margin-top: 15px;
    margin-bottom: -30px;  
}
.alert-message-btngroup .alert-message-button {
    position: static;
    margin-top: 4px;
}
.alert-message-button-green {
    cursor: pointer;
    border: 1px solid #5BC797;
    border-radius: 2px;
    background-color: #5BC797;
    color: #fff !important;
    width: 98%;
    height: 40px;
    font-size: 14px;
    left: 0;
    right: 0;
}
.alert-message-button {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 83%;
    height: 40px;
    font-size: 14px;
    color: #000;
    padding-top: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    position: absolute;
    bottom: 16px;
    left: 0;
    right: 0;
}
.alert-message-btngroup .alert-message-button {
    position: static;
    margin-top: 4px;
}
.button-modal {
    min-height: 47px;
    max-width: 100%;
}
.button-bc-gray {
    border: 1px solid #979797;
    margin-bottom: 10px;
}
.button-bg-transparent {
    background-color: transparent;
}
.button-tc-black .button-text {
    color: #000;
}
.button-text {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}
.button-modal{
    cursor: pointer;
}


/* Page Welcomes */
.page-welcome .page-signup-body-btns {
    margin-bottom: 60px;
}
.page-welcome .page-signup-body-btns .txt-head {
    margin-bottom: 40px;
    font-weight: 600;
}
.page-welcome .page-signup-body-btns p {
    text-align: center;
    margin-bottom: 0px;
}
.page-welcome .page-signup-body-btns ul {
    margin-bottom: 7px;
}
.page-welcome .page-signup-body-btns ul li a {
    width: 90%;
    height: 48px;
    margin: 0 auto;
    display: block;
    line-height: 48px;
    text-align: center;
    background: #72c7a1;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border-radius: 24px;
}
.page-welcome .page-signup-body-btns ul li a i {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}
.page-welcome .icon-tel {
    width: 30px;
    height: 30px;
    background: url(../image/phone@3x.png) 0 0/cover no-repeat;
    background-size: contain;
}
.page-welcome .icon-facebook {
    width: 8px;
    height: 18px;
    background: url(../image/fb@3x.png) 0 0/cover no-repeat;
}
.page-welcome .icon {
    font-style: normal;
}
.page-welcome .page-signup-body-btns ul span {
    display: block;
    text-align: center;
    font-size: 12px;
    margin: 12px 0;
    line-height: 1;
}
.page-welcome .page-signup-body-btns .txt-ftr {
    font-size: 10px;
    color: #8c8c8c;
}
.page-signup-footer-login {
    margin: 0 auto 20px;
}
.page-signup-footer-login .txt-head {
    font-size: 10px;
    color: #8c8c8c;
    margin-bottom: 14px;
}
.page-signup-footer-login p {
    text-align: center;
    margin-bottom: 0px;
}
.page-signup-footer-login .txt-head a {
    text-decoration: underline !important;
    font-size: 10px;
    color: #8c8c8c;
}
.page-signup-footer-login .txt-btn {
    border-top: 1px solid #8c8c8c;
    border-bottom: 1px solid #8c8c8c;
    padding: 14px 0;
    line-height: 1;
    font-size: 11px;
}
.page-signup-footer-login .txt-btn a {
    font-size: 11px;
    text-decoration: underline !important;
}
.txt-head a:hover, .txt-head a:focus, .txt-btn a:hover, .txt-btn a:focus{
    opacity: 0.7;
}