.wrap-container {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    padding-top: 10px;
}
.container {
    padding-left: 10px;
    padding-right: 10px;
}
.table>tbody>tr>td {
    border-bottom: none;
    padding: 9px 12px;
    letter-spacing: .7px;
}
.col-xs-12 {
    padding-left: 0px;
    padding-right: 0px;
}
.title h4 {
    margin-top: 20px;
    padding-left: 20px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.4;
}
.table>tbody>tr>th, .table>tbody>tr>td {
    border-bottom: none;
    padding: 9px 12px;
    letter-spacing: .7px;
}
.section p{
    font-size: 16px;
}
.section strong{
    padding: 0px 20px !important;
}
.section li{
    padding: 0px 20px !important;
}
.section .text-right p{
    text-align: right;
}
.section li{
    margin-top: 5px;
}
/* Page Question */
.card{
    margin-top: 10px;
    padding: 5px;
    border: none;
}
.container #ipt-search-box{
    margin: 15px 0px;
}
.accordion-title, .accordion-title-sub-chil{
    cursor: pointer;
    font-weight: 550;
}
.accordion-title:before {
    font-size: 20px;
    top: 16px;
}
.accordion-title-chil {
    padding: 20px 37px 20px 18px;
    font-size: 16px;
}
.accordion-title-chil:before {
    font-size: 20px;
    top: 16px;
}
.accordion-content {
    padding: 15px 10px;
}
.accordion-content a{
    color: #337ab7;
}
.m-15 {
    margin: 15px 0;
}
/* Page Privatemode*/
.form-group {
    margin: 20px 0 40px 0;
}
.btn-lg {
    border-radius: 30px;
    font-family: -webkit-body;
    font-weight: 100;
    font-size: 1.1em;
    padding: 8px 12px;
}
.labels {
    display: block;
    text-align: center;
}

.p-t-0 {
    padding-top: 0;
}
span.any {
    background: #72c7a1;
    color: #fff;
    padding: 2px 4px;
    border-radius: 3px;
    font-size: .8em;
    margin-left: 3px;
}
.page-support .title h4 {
    padding-left: 0px;
}
.page-support .table p{
    font-size: 16px;
    margin-bottom: 0px;
}
p.m-b-30{
    padding: 0px 15px;
}
@media all and (max-width: 479px){
    .section p, .section .service-title{
        padding: 0px 15px;
    }
    p.m-b-30{
        padding: 0px 30px;
    }
    .card{
        padding: 0px 10px;
    }
    .table{
        margin: 0px 5px 1rem 5px;
    }
    .section li{
        padding: 0px 30px !important;
    }
}